body {
    font-family: 'Poppins', sans-serif;
    background: url('onepiece.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card p {
    text-align: justify;
    padding: 0 10px 10px 10px;
}
